<div class="container px-5 px-sm-0">
    <div class="row">
      <!--プロフィールイメージを表示するためのコード。プロフィール画像を登録していない場合のfallbackもサイズ指定が必須-->
      <%= render 'books/new_form', user: @user, book: @book %>
    <div class="col-md-8 offset-md-1">
     <h2>全ユーザー</h2>
     <table class="table">
         <thead>
             <tr>
                 <th class="text-white">ユーザー画像</th>
                 <th class="text-white">名前</th>
                 <th colspan="3"></th>
             </tr>
         </thead>
         <tbody>
            <% @users.each do |user| %>
             <tr>
                 <th>
                     <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40', class: "m-2 attachment user profile_image" %>
                 </th>
                 <th class="text-white">
                     <%= user.name %>
                 </th>
                 <th>
                     <%= link_to"詳細", user_path(user.id) %>
                 </th>
             </tr>
           <% end %>
         </tbody>
     </table>
    </div>
  </div>
</div>