<div class="px-3">
        <h1>Welcome to <strong><i class="fas fa-book"></i>BOOKERS</strong> !!</h1>
        <p class="lead"><strong><i class="fas fa-book"></i>BOOKERS</strong>はたくさんの人と</p>
        <p class="lead">本の内容について意見交流ができます</p>
        <p class="lead">お気に入りの一冊が見つかるかもしれません</p>
        <p class="lead">素敵な本との出会いを求めて</p>
        <p class="lead">早速登録してみましょう</p>
</div>