  <div class="px-3">
        <h1>Welcome to <strong><i class="fas fa-book"></i>BOOKERS</strong> !!</h1>
        <p class="lead"><strong><i class="fas fa-book"></i>BOOKERS</strong>では</p>
        <p class="lead">本の題名や感想をみんなでシェアできます</p>
        <p class="lead">さあ、あなたも本の世界へ！！</p>
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary btn-lg" %>
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-success btn-lg" %>
</div>