<h1>Welcome to <strong><i class="fas fa-book"></i>BOOKERS</strong> !!</h1>
<p><strong><i class="fas fa-book"></i>BOOKERS</strong>では</p>
<p>本の題名や感想をみんなでシェアできます</p>
<p>さあ、あなたも本の世界へ！！</p>
<%= link_to "ログイン", new_user_session_path %>
<%= link_to "新規登録", new_user_registration_path %>